.logo-advantages {
    padding: 60px 0 77px;
}

.logo-advantages__index-logo {
    margin-bottom: 70px;
}

.index-logo__image {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}
