.slider__image-wrapper {
    padding: 10px;
    background: #fff;
    margin-bottom: 35px;
}

.slider__image {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.slider__controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
