.title {
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 19px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}

.title_white {
    color: #fff;
}

.title_center {
    text-align: center;
}
